.addbtn{
    /* margin-top: 50; */
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.editbtn{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.addbtn:hover{
    border-color: transparent;
}
.cancelbtn{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.timesavebutton{
    background-color: rgb(62, 152, 199);
}

.ClearBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.TabButton{
    font-size: 20px;
    
}

.selected{
    margin-bottom: 20px;
}

.SignInBtn{
    width: 70%;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
}