.tabContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttonContainer{
    display: flex;

    gap:2rem;
    

}

.title{
    justify-content: start;
    margin-right: 15%;
    font-size: 40px;
    color: white;
    text-decoration: none;

}
.divider{
    width: 800px;
}

.tab{
    padding-top: 100px;
}
.minitab{
    display: flex;
    gap: 3rem;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(27, 25, 27);
    /* font-weight: bold; */
    border-radius: 25px;
    /* padding: 10px; */
    
}
.show-content{
    display: block;
}
.showPomodoro{
    display: block;
    background-color: transparent;
}
.showLongBreak{
    display: block;
    background-color: transparent;
}
.showShortBreak{
    display: block;
    background-color: transparent;
}
.content{
    display:none;
}

.minicontainer1{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 45, 109);
    border-radius: 30px;

}
.minicontainer2{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 47, 97);
    border-radius: 30px;
}
.minicontainer3{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 54, 129);
    border-radius: 30px;
    
}

.minitabbtn{
    cursor: pointer;
    position: absolute;
    
}
.himinitabbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    
    
}



.indicator{
    background-color: white;
    border-radius: 25px;
    inset: 0;
    position: absolute;
    cursor: pointer;
    
    
    


    
}
.hi{
    display: flex;
    position: relative;
    padding: 10px;
    
    
}
.highlight{
    position: relative;
    cursor: pointer;
    color:white;
    mix-blend-mode:exclusion;
    
}

