.tabContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttonContainer{
    display: flex;

    gap:2rem;
    

}

.title{
    justify-content: start;
    margin-right: 15%;
    font-size: 40px;
    color: white;
    text-decoration: none;

}
.divider{
    width: 800px;
}

.tab{
    padding-top: 100px;
}
.minitab{
    display: flex;
    gap: 2rem;
    margin-bottom: 60px;
}
.show-content{
    display: block;
}
.showPomodoro{
    display: block;
    background-color: rgb(98, 99, 86);
}
.showLongBreak{
    display: block;
    background-color: rgb(56, 51, 61);
}
.showShortBreak{
    display: block;
    background-color: rgb(110, 74, 69);
}
.content{
    display:none;
}
.minitabbtn{
    cursor: pointer;
}
.minicontainer1{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 550px;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 99, 86);

}
.minicontainer2{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 550px;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 74, 69);
}
.minicontainer3{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 550px;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 51, 61);
}