
.SettingsTab{
    color: black;
    font-weight: 600;
}

.scontainer{
    background-color: rgb(237, 235, 245);
    width: 700px;
    height: 1000px;
    text-align: center;
    border-radius: 20px;
    font-size: 40px;
    margin-top: 100px;
    border: solid rgb(80, 71, 99);
    border-width: 5px;
    border-radius: 10px;
    
}


.allsettings{
    text-align: start;
}

.settingdivider{
    width: 600px;
    height: 4px;
    background-color: rgb(25, 25, 27);
    border: none;
    margin-top: 0;
    margin-bottom: 5px;
}

.tstitle{
    font-size: 30px;
    margin-top: 0;
    color: black;
    margin-bottom: 0px;
}

.timersettings{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:2rem;
}
.pomodoroinput{
    width: 120px;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border: solid #000;
    border-width: 2px;
    border-radius: 10px;
    color: black;
    
}

.pomodoroinput::placeholder{
    color: black;
    opacity: 0.5;
}


.timerlabels{
    font-size: 30px;
    color: black;
}
.timerSetter{
    display: flex;
    gap: 2rem;
}

