

.totalsec{
    font-size: 30px;
    color: white;
}

.accountHistory{
    background-color: rgb(44, 45, 109);
    width: 600px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.settingTitle{
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    gap:1rem;
}
.timeCompleted{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.AccountInfo{
    margin-top: 20px;
}
.accDivider{
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
