
.todoDivider{
    width: 100%;
    margin-bottom: 20px;
    min-width: 500px
    
}
.todotitle{
    display: flex;
    
    margin-bottom: 10px;
    justify-content: start;
    text-align: end;
}
.addbar{
    display: flex;
    /* background-color: aliceblue; */
    padding:5px;
    width: 100%;
    min-width: 600px;
}

.todoinput{
    border:none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 25px;
    background-color: rgb(45, 107, 161);
    color: white;


}
::placeholder {
    color: white;
}

.todoForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.todoItems{
    width: 100%;
    background-color: black;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(40, 33, 167);


}
.functions{
    display: flex;
    align-items: end;
    justify-content: end;
    /* width: 100%; */
    padding: 5px;
    gap:1rem;
    cursor: pointer;

}
.ToDoConent{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.icon{
    display: flex;
    align-items: center;
    margin:0;
    font-size: 25px;
}

.completed{
    display: flex;
    text-decoration: line-through;
    width: 100%;
    height: 100%;
    align-items: end;
    
}
.checkicon{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    cursor: pointer;
}


.todolabel{
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-left: 30px;


}

.editinput{
    border:none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}